/* setting background color */
img.resize {
  width:200px;
  height:100%;
}

body {
background: url('orange.jpg');
text-align: center;
}

/*setting id for main */
#main {
  padding: 25px;
  width: 1000px;
  height: 100%px;
  background: url('khalsa.jpg');
  margin: 25px auto;
  border: solid 10px #ffffff
}
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 30px;
  margin-right:30px;
  padding-top: 20px;
  font-weight: bold;
}

#footer{
  display: inline-block;
  margin-left: 30px;
  margin-right:30px;
  padding-top: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color:#aaaaaa;
}

nav a{
  color: #ffab19;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

li a:hover {
  background-color: white;
  color:#ffab19
}

h1 {
  text-align: center;
  font-family:"Times New Roman";
  font: 10pt;
  color: #ffab19
}

hr {
  height: 2px;
  color:#0a2c74;
}

h2 {
  font-family: "Calibri";
  font-size: 18pt;
  text-align: center;
  text-indent: 48px;
  color: #ffab19
}

p {
  font-family: "Calibri";
  font-size: 13pt;
  text-align: left;
  text-indent: 48px;
  color: #ffab19
}

h3 {
  font-family: "Calibri";
  font-size: 18pt;
  text-align: center;
  text-indent: 48px;
  color: #ffab19
}

#philosophy {
  font-family: "Calibri";
  font-size: 13pt;
  text-align: left;
  color: #ffab19
}

#facts {
  font-family: "Calibri";
  font-size: 30pt;
  text-align: left;
  color: #ffab19
}

#referance {
  list-style: none;
  font-family: "Calibri";
  font-size: 18pt;
  text-align: left;
  color: #ffab19
}

#guru {
  list-style: none;
  font-family: "Calibri";
  font-size: 18pt;
  text-align: left;
  color: #ffab19
}

#indent{
  font-family: "Calibri";
  list-style: none;
  font-size: 13pt;
  text-align: left;
  text-indent: 10px;
  color: #ffab19

}
